
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #fff;
}

.registration-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registration-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border: none;
}

.registration-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.sub-welcome-text {
    font-size: 10px;
    color: #777;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 100;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.registration-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url('../svg/账户.svg') no-repeat 10px center; /* Adjust this value based on your icon size */
    background-size: 20px;
    padding-left: 38px; /* Adjust this value based on your icon size + spacing */
}

.registration-form .code-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.registration-form .code-input {
    padding: 15px;
    background: url('../svg/验证 验证码.svg') no-repeat 10px center;
    background-size: 20px;
    padding-left: 38px;
    width: calc(70% - 5px);
    margin-top: 15px;
}

.registration-form .send-code-btn {
    width: calc(30% - 5px);
    padding: 15px;
    background-color: #1990ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.registration-form .send-code-btn:hover {
    background-color: #0c7bcd;
}

.registration-form input[type="password"] {
    padding: 15px;
    background: url('../svg/密码.svg') no-repeat 10px center; /* Adjust this value based on your icon size */
    background-size: 20px;
    padding-left: 38px; /* Adjust this value based on your icon size + spacing */
}

.registration-form .register-btn {
    width: 100%;
    padding: 15px;
    background-color: #1990ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.registration-form .register-btn:hover {
    background-color: #0c7bcd;
}

.additional-links {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.additional-links a {
    margin: 0 10px;
    color: #1990ff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.additional-links .left {
    float: left;
}

.additional-links .right {
    float: right;
}

.main {
    flex: 1;
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148));
    background: linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.main img {
    max-width: 100%;
    height: auto;
}

.box {
    display: flex;
    overflow: hidden;
    width: 50rem;
    height: 35rem;
    background-color: rgba(255, 255,255,90%);
    border-radius: 2rem;
    margin: 2% auto;
    box-shadow: 0 0 1rem 1rem rgb(0 0 0 / 10%);
}